<%- include("partials/header"); -%>
    <h1>About</h1>
    <p> <%= aboutContent %> </p>
    <h1>Contact</h1>
    <p>Email: chandakanant00@gmail.com</p>
    <p>Mobile No: 6386869394</p>
<%- include("partials/footer"); -%>
